In [2]:
!pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 109 kB/s eta 0:00:01
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58738 sha256=ee04302aad86dd6ebfb349a0b5d3aedd04c39583ed800d3235281b4a3fa55358
  Stored in directory: /home/jovyan/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
            .master("local[8]") \
            .appName("airflow_app") \
            .config('spark.executor.memory', '16g') \
            .config('spark.driver.memory', '16g') \
            .config('spark.sql.execution.pandas.respectSessionTimeZone', False) \
            .config("spark.driver.maxResultSize", "2048MB") \
            .config("spark.port.maxRetries", "100") \
            .config("spark.sql.execution.arrow.enabled", "true") \
            .getOrCreate()

In [6]:
from pyspark.sql.functions import *

In [9]:
df = spark.read.csv('dados/diego.csv')

In [10]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|Coluna1;Coluna2;C...|
|diego ;brook ;not...|
|gabriela;brook ;i...|
|ana;dudu;caderno ...|
+--------------------+

In [43]:
tabela1 = spark.read.format('csv').option('sep', '|').load('dados/tabela1.csv')

In [44]:
tabela1.show()

+----+-------+-------+-----+----+
| _c0|    _c1|    _c2|  _c3| _c4|
+----+-------+-------+-----+----+
|null|Company| Person|Sales|null|
|null|   GOOG|    Sam|200.0|null|
|null|   GOOG|Charlie|120.0|null|
|null|   GOOG|  Frank|340.0|null|
|null|   MSFT|   Tina|600.0|null|
|null|   MSFT|    Amy|124.0|null|
|null|   MSFT|Vanessa|243.0|null|
|null|     FB|   Carl|870.0|null|
|null|     FB|  Sarah|350.0|null|
|null|   APPL|   John|250.0|null|
|null|   APPL|  Linda|130.0|null|
|null|   APPL|   Mike|750.0|null|
|null|   APPL|  Chris|350.0|null|
+----+-------+-------+-----+----+

In [15]:
from pyspark.sql.types import StringType, StructType, StructField

In [45]:
schema = StructType([StructField('coluna1', StringType(), True), \
                    StructField('coluna2', StringType(), True), \
                    StructField('coluna3', StringType(), True), \
                    StructField('coluna4', StringType(), True), \
                    StructField('coluna5', StringType(), True),
                    StructField('coluna6', StringType(), True)
                    ])

In [46]:
tabela1 = spark.read.format('csv').option('sep', '|').schema(schema).load('dados/tabela1.csv')

In [47]:
tabela1.show()

+-------+-------+-------+-------+-------+-------+
|coluna1|coluna2|coluna3|coluna4|coluna5|coluna6|
+-------+-------+-------+-------+-------+-------+
|   null|Company| Person|  Sales|   null|   null|
|   null|   GOOG|    Sam|  200.0|   null|   null|
|   null|   GOOG|Charlie|  120.0|   null|   null|
|   null|   GOOG|  Frank|  340.0|   null|   null|
|   null|   MSFT|   Tina|  600.0|   null|   null|
|   null|   MSFT|    Amy|  124.0|   null|   null|
|   null|   MSFT|Vanessa|  243.0|   null|   null|
|   null|     FB|   Carl|  870.0|   null|   null|
|   null|     FB|  Sarah|  350.0|   null|   null|
|   null|   APPL|   John|  250.0|   null|   null|
|   null|   APPL|  Linda|  130.0|   null|   null|
|   null|   APPL|   Mike|  750.0|   null|   null|
|   null|   APPL|  Chris|  350.0|   null|   null|
+-------+-------+-------+-------+-------+-------+

In [56]:
tabela1 = tabela1.drop('coluna1','coluna5','coluna6').show()

+-------+-------+-------+
|coluna2|coluna3|coluna4|
+-------+-------+-------+
|Company| Person|  Sales|
|   GOOG|    Sam|  200.0|
|   GOOG|Charlie|  120.0|
|   GOOG|  Frank|  340.0|
|   MSFT|   Tina|  600.0|
|   MSFT|    Amy|  124.0|
|   MSFT|Vanessa|  243.0|
|     FB|   Carl|  870.0|
|     FB|  Sarah|  350.0|
|   APPL|   John|  250.0|
|   APPL|  Linda|  130.0|
|   APPL|   Mike|  750.0|
|   APPL|  Chris|  350.0|
+-------+-------+-------+

In [54]:
tabela2 = spark.read.format('csv').option('sep', '|').load('dados/tabela2.csv')

In [71]:
tabela2 = tabela2.drop('_c0','_c5')
tabela2.show()

+-------+-------+-------+------------------+
|    _c1|    _c2|    _c3|               _c4|
+-------+-------+-------+------------------+
|summary|Company| Person|             Sales|
|  count|     12|     12|                12|
|   mean|   null|   null| 360.5833333333333|
| stddev|   null|   null|250.08742410799007|
|    min|   APPL|  Chris|             120.0|
|    max|   MSFT|Vanessa|             870.0|
+-------+-------+-------+------------------+

In [72]:
tabela2.orderBy('_c4').show()

+-------+-------+-------+------------------+
|    _c1|    _c2|    _c3|               _c4|
+-------+-------+-------+------------------+
|  count|     12|     12|                12|
|    min|   APPL|  Chris|             120.0|
|    max|   MSFT|Vanessa|             870.0|
|summary|Company| Person|             Sales|
|   mean|   null|   null| 360.5833333333333|
| stddev|   null|   null|250.08742410799007|
+-------+-------+-------+------------------+

In [74]:
tabela1.join(tabela2._c1 <> tabela.1)

SyntaxError: invalid syntax (<ipython-input-74-efbbd03f099e>, line 1)